body
{
    background-color:black;
    color: skyblue;
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4
{
    font-family: "Segoe UI", Arial, sans-serif;
    color:hotpink;
    text-align: center;
}

#game, #result
{
    text-align: center;
}

footer
{
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-left: -8px;
  height: 30px;
  padding: 8px ;
  background-color: rgb(39, 39, 39);
  text-align: center;
}

a:hover, a:visited
{
    color: hotpink;
}

a:active{
    color: skyblue;
}
